table {
    width: 1310px;
    height: 750px;
    background-color: #F5F5F5;
}

.header{
    display: flex;
    height: 1px;
}

.logo {
    float: left;
    margin: 20px;
    margin-left: 150px;
    width: 250px;
    height: 100px;
}

.title {
    margin: 50px;
    margin-left: 220px;
    float: right;
    font-size: x-large;
    font-family: 'Segoe UI';
}

ul {
    overflow: hidden;
    background-color: #434648;
    padding: 8px;
    margin: 20px;
}

li {
    float: left;
    display: flex;
    padding: 14px 16px;
    margin-left: 50px;
}

a {
    color: #F5F5F5;
    font-family: 'Segoe UI';
}

.article {
    width: 1310px;
    height: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monitor{
    margin-top: 30px;
    margin-left: 150px;
    width: 300px;
    height: 300px;
}

.notebook {
    margin-top: 30px;
    margin-left: 100px;
    width: 420px;
    height: 280px;
}

.footer {
    color: #F5F5F5;
    background-color: #434648;
    width: 250px;
    height: 10px;
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI';
}